
.content-header {
  position: relative;
  padding: 8px;
  background: #16C0F8;
  border-radius: 3px;
  box-shadow: 0px 0px 5px #B1B1B1;
  color: #fff;
}
.box_shadow{
    border-radius: 5px;
    width: 100px;
    border: 1px solid #D9D9D9;
    background-color: #ffffff;
}
body{
    background-color: #f2f2f2;
    font-family: "Microsoft Yahei";
}
.div_activity{
    position: relative;
    width:100%;
    height:285px;
}
.activity_content{
    position: absolute;
    left: 185px;
    top:10px;
    height:140px;
    width:550px;
}
.activity_link{
    color: #D2D2D2;
    position: relative;
    top:5px;
    left:15px;
}
.activity_title{
    position: relative;
    font-size:20px;
    font-weight:bold;
    color: #545454;
    padding:5px;
    padding-bottom: 10px;
}
.activity_title label{
    display: inline;
    border-left:5px solid #5fb878;
    padding-left:10px;
}

.activity_title label a{
    position: relative;
    left:0px;
    font-size:20px;
    font-weight:bold;
}

.activity_title label a:hover{
    color:#393533;
    cursor: pointer;
}

.activity_title a{
    display: inline;
    position: absolute;
    right:25px;
    font-size:14px;
    color: #545454;
    font-weight:100;
}
.div_activity_img{
    position:absolute;
    top:0;
    left:0;
    width:185px;
}
.div_activity img{
    width:170px;
    margin:10px;
}
.homePagebody{
    margin:0 auto;
    width:1140px;
    height:100%;
    padding:5px;
}
.homePagebody a:hover{
    color:#5FB878;
    cursor: pointer;
}
.homePagebody a label{
    cursor: pointer;
}
.item_mg0_5{
    margin-left: 0px;
    margin-right: 0px;
    margin-top:5px;
    margin-bottom:5px;
}
.subContentArea {
    color: #8D8D8D;;
    min-height: 50px;
    padding:15px;
    padding-left:18px;
    padding-top: 10px;
}
.mainbody_right{
    position: relative;
    height:100%;
    padding-left: 10px;
}
.mainbody_left{
    position: relative;
    height:100%;
}
.pagefooter{
    position:relative;
    left:0;
    right:0;
    bottom:0;
    height:44px;
    line-height:44px;
    padding:0 15px;
    background-color:#eee
}
.label_icon{
    position: relative;
    left:15px;
    font-size: 10px;
    color: #c2c2c2;
    line-height: 20px;
}
.dashboard{
    width: 150px;
    height: 160px;
    font-size: 90px;
    line-height: 150%;
    padding: 15px;
}