<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head profile="http://gmpg.org/xfn/11">
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width"/>
    <link th:href="@{/webjars/bootstrap/3.3.7/dist/css/bootstrap.css}" rel="stylesheet"></link>
    <script th:src="@{/webjars/bootstrap/3.3.7/dist/js/bootstrap.js}"></script>
    <title>电子书列表</title>
</head>
<body class="home blog">
<div id="container">
    <div id="menu">

    </div>
    <div id="head">

    </div>
    <div id="gonggao">

    </div>
    <div id="container-inner" class="clear">
        <div id="primary">
            <ul class="list">
                <li th:each="book : ${booklist}">

                    <div class="content">
                        <h2> <a th:href="${book.bookUrl}" th:text ="${book.bookName}" target="_blank"></a></h2>
                        <div class="info">
                            <span th:text ="'分类:' + ${book.catagoryTag}"></span>
                            <span class="cat" th:text="'更新于:' + ${book.enterDate}"></span>
                        </div>
                        <div class="thumbnail">
                            <div class="img">
                                <img class="attachment-thumbnail-list size-thumbnail-list wp-post-image" th:src="${book.imagePath}" width="200" height="200"/>
                            </div>
                        </div>
                        <p>内容简介 </p>
                        <div class="info">
                            <span th:text = "${book.bookDesc}"></span>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
        <div id="sidebar">

        </div>
        <div class="clear">
            ::after
        </div>
        <div>
            <div class="pagenavi">

            </div>
        </div>
    </div>
    <div id="footer">

    </div>
    <div class="clear">

    </div>
</div>

</body>
</html>

