<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Title</title>
</head>
<body>
<div class="layui-row mainbody_left">

    <div th:each="book : ${bookDetailList}" class="div_activity box_shadow item_mg0_5">
        <div class="div_activity_img">
            <a th:href="'/bookindex/bookdetail/'+${book.seqNo}"><img width="180px" height="265px" th:src="${book.imagePath}"/></a>
        </div>
        <div class="activity_content">
            <div class="activity_title">
                <a th:href="'/bookindex/bookdetail/'+${book.seqNo}">
                    <label th:text="${book.bookName}">大清帝国</label>
                </a>
           <!--     <a th:href="'/bookindex/bookdetail/'+${book.seqNo}" title="查看更多">
                    <i class="layui-icon " style="font-size: 30px; color: #1E9FFF;">&#xe671;</i>
                </a>-->
            </div>
            <div class="label_icon">
                <span th:text="${book.updateDate}">2018.03.21</span>
            </div>
            <div class="subContentArea" id="bookitem2">
                <p th:text="${book.bookDesc}">test2</p>
            </div>
            <div>
                <a class="subDetail" th:href="'/bookindex/bookdetail/'+${book.seqNo}">阅读全文...</a>
            </div>
        </div>
    </div>


</div>
</body>
</html>