<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1"/>
    <title>图书馆主页</title>
    <link rel="stylesheet" href="../css/layui.css"/>
    <link rel="stylesheet" href="../css/style.css"/>
</head>
<body>

<!--书籍列表-->
<div class="layui-col-md8 mainbody_left " id="layout-left">
    <!--书籍列表-->
</div>
<div class="layui-col-md4 mainbody_right" id="layout-right">

    <div id="layout-right-dtl">

        <div id="xxx1" class="item_mg0_5">
            <div class="s-list">
                <input type="text" placeholder="搜索..." class="layui-input" id="searchBook"/>
                <button type="button" class="layui-btn" onclick="javascript:searchbook();">搜索</button>
            </div>
        </div>
        <div id="sidbar" class="item_mg0_5">
            <div class="s-list"><h3 class="sub">资源归档</h3>
                <ul th:each="bookStatics:${bookStaticsList}">
                    <li>

                        <a th:onclick="'javascript:datelist(\''+${bookStatics.updateDateYyyy}+'\',\''+${bookStatics.updateDateMm}+'\')'">
                            <span th:text="${bookStatics.updateDateYyyy}"></span>
                            <span>年</span>
                            <span th:text="${bookStatics.updateDateMm}"></span>
                            <span>月</span>
                        </a>&nbsp;
                        <span>(</span>
                        <span th:text="${bookStatics.count}"></span>
                        <span>)</span>
                    </li>

                </ul>
            </div>
        </div>

        <div id="xxx2" class="item_mg0_5">
            <div class="s-list">
                xxx2
            </div>
        </div>
    </div>
</div>


<script th:inline="javascript">
    //JavaScript代码区域
    /*<![CDATA[*/
    var type = /*[[${type}]]*/ 'a';
    var $;
    layui.use(['laypage', 'layer', 'form'], function () {
        var laypage = layui.laypage;
        var form = layui.form;
        $ = layui.$;
        var re = /^bookdetail/;
        if (re.test(type)) {
            var loadurl = "/bookdetailpage/" + type;
            $('#layout-left').load(loadurl, function () {

            });
        } else {
            var loadurl = "/booklistpage/" + type;
            $('#layout-left').load(loadurl, function () {

            });
        }


    });

    /*]]>*/
    function datelist(year, month) {
        var params = {};
        var loadurl = "/booklistpage/datecata/" + year + "/" + month;
        params["year"] = year;
        params["month"] = month;
        $('#layout-left').load(loadurl, function () {

        });
    };
    function searchbook() {
        var data={};
        data['bookSearch'] = $("[id='searchBook']").val();
        $('#layout-left').load("/booklist/search",data, function () {

        });
    }
</script>
</body>
</html>
