<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Title</title>
</head>
<body>
<div class="layui-row mainbody_left">

    <div  class="div_activity_detail box_shadow item_mg0_5">
        <div class="div_activity_img">
            <img width="180px" height="265px" th:src="${book.imagePath}"/>
        </div>
        <div class="activity_content">
            <div class="activity_title">
                <label th:text="${book.bookName}"> 大清帝国</label>
            </div>
            <div class="label_icon">
                <span th:text="${book.updateDate}">2018.03.21</span>
            </div>
            <div id="bookitem2">
                <p th:text="${book.bookDesc}">test2</p>

                <p>下载列表:</p>
                <table>
                    <tr >
                        <td  class="download_td" th:each="bookDownload: ${fileList}">
                            <a style="color: red;" th:href="${bookDownload.bookUrl}" th:text="${bookDownload.bookType}"></a>
                        </td>
                    </tr>
                </table>

            </div>

        </div>
    </div>


</div>

</body>
</html>