<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Title</title>
    <link rel="stylesheet" href="../css/layui.css"/>
    <link rel="stylesheet" href="../css/style.css"/>
</head>
<body>
<div class="layui-row mainbody_left">


  <!--  <div class="div_activity box_shadow item_mg0_5">
        <div class="div_activity_img">
            <img src=""/>
        </div>
        <div class="activity_content">
            <div class="activity_title">
                <label><a href="" >《简单有趣的个人管理丛书》</a></label>
                <a href="" title="查看更多">
                    <i class="layui-icon " style="font-size: 30px; color: #1E9FFF;">&#xe65f;</i>
                </a>
            </div>
            <div class="label_icon">
                <span>2018.03.21</span>
            </div>
            <div class="subContentArea" id="bookitem1">
                内容简介
                《简单有趣的个人管理丛书》全套书共有7册，有《说服力：如何让他人改变想法》、《时间管理:如何充分利用你的24小时》、《毅力:如何培养自律的习惯》、《人际网络：将人脉的力量最大化》、《创造力：跳出盒子思考》、《成功：为何不是你？》、《大学第一年：献给所有的大一新生》等7本书。
                全书采用漫画形式，风趣幽默，具有很强的可读性，是一套内容丰富的好书。
            </div>
            <div class="activity_link">
                <a href="">阅读全文...</a>
            </div>
        </div>
    </div>-->
    <div th:each="book : ${bookDetailList}" class="div_activity box_shadow item_mg0_5">
        <div class="div_activity_img">
            <img width="180px" height="265px" th:src="${book.imagePath}"/>
        </div>
        <div class="activity_content">
            <div class="activity_title">
                <label th:text="${book.bookName}"> 大清帝国</label>
                <a href="" title="查看更多">
                    <i class="layui-icon " style="font-size: 30px; color: #1E9FFF;">&#xe671;</i>
                </a>
            </div>
            <div class="label_icon">
                <span th:text="${book.updateDate}">2018.03.21</span>
            </div>
            <div class="subContentArea" id="bookitem2">
                <p th:text="${book.bookDesc}">test2</p>
            </div>
            <div>
                <a class="subDetail" href="/bookindex/bookdetail/${book.seqNo}">阅读全文...</a>
            </div>
        </div>
    </div>


</div>
</body>
</html>