<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1"/>
    <title>图书列表</title>
</head>
<body>

<!--书籍列表-->

<div id="booklist"></div>
<div class="pagefooter" id="page"></div>


<script th:inline="javascript">
    //JavaScript代码区域
    /*<![CDATA[*/
    layui.use(['laypage','layer'], function () {
        var laypage = layui.laypage
            , $ = layui.$;
        var type = /*[[${type}]]*/ 'a';
        var indexurl="/bookpage/"+type+"/1";
        $('#booklist').load(indexurl, function () {

        });

        laypage.render({
            elem: 'page'
            , count: /*[[${totalCount}]]*/ 100
            , limit: /*[[${pageNum}]]*/10
            , layout: ['prev', 'page', 'next', 'skip']
            , jump: function (obj, first) {
                console.log(obj)
                console.log(obj.curr); //得到当前页，以便向服务端请求对应页的数据。
                console.log(obj.limit); //得到每页显示的条数
                var num = obj.curr;
                var loadurl='/bookpage/'+type+'/'+num;
                //首次不执行
                if (!first) {
                    //do something
                    $('#booklist').load(loadurl, function () {

                    });
                }
            }
        });

    });
    /*]]>*/
</script>
</body>
</html>
