<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1"/>
    <title>bookdetail index 主页</title>
    <link rel="stylesheet" href="../../css/layui.css"/>
    <link rel="stylesheet" href="../../css/style.css"/>
</head>
<body>
<div class="layui-layout layui-layout-admin ">

    <div th:replace="header::header"></div>

    <div class="layui-row homePagebody">
        <!-- 内容主体区域 -->
        <div id="divmain">


        </div>
    </div>
    <div th:replace="footer::footer"></div>
</div>
<script src="../../layui.js"></script>
<script th:inline="javascript">
    //JavaScript代码区域
    /*<![CDATA[*/
    var $;
    layui.use(['jquery','element'], function () {
        $ = layui.$;
        var seqno = /*[[${seqno}]]*/ '1';
        var loadurl="/bookindex/bookdetailpage/"+seqno;
        // var loadurl="/bookindex/bookdetailpage/6000";
        $('#divmain').load(loadurl, function () {

        });
    });
    function loadcatagory(maintt) {
        var loadurl="/bookindex/catagory/"+maintt;
        $('#layout-left').load(loadurl,  function (){

        });
    };
    function loadcatagorysub(maincata,subcata) {
        var loadurl="/bookindex/catagorysub/"+maincata +"/"+subcata;
        $('#layout-left').load(loadurl,  function (){

        });
    };
    /*]]>*/
</script>
</body>
</html>
