<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1"/>
    <title>图书列表</title>
    <link rel="stylesheet" href="../css/layui.css"/>
    <link rel="stylesheet" href="../css/style.css"/>
</head>
<body>

<!--书籍列表-->

<div id="booklist"></div>
<div class="pagefooter" id="page"></div>


<script src="../layui.js"></script>
<script>
    //JavaScript代码区域
    layui.use(['laypage','layer'], function () {
        var laypage = layui.laypage
            , $ = layui.$;

        $('#booklist').load("/bookpage/a/1", function () {

        });

        laypage.render({
            elem: 'page'
            , count: 100
            , limit: 10
            , layout: ['prev', 'page', 'next', 'skip']
            , jump: function (obj, first) {
                console.log(obj)
                console.log(obj.curr); //得到当前页，以便向服务端请求对应页的数据。
                console.log(obj.limit); //得到每页显示的条数
                var num = obj.curr +1;
                var loadurl='/bookpage/a/'+num;
                //首次不执行
                if (!first) {
                    //do something
                    $('#booklist').load(loadurl, function () {

                    });
                }
            }
        });

    });
</script>
</body>
</html>
