<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1"/>
    <title>我的图书馆</title>
    <link rel="stylesheet" href="../css/layui.css"/>
    <link rel="stylesheet" href="../css/style.css"/>
</head>
<body>
<div class="layui-layout layui-layout-admin ">
    <div class="layui-header">
        <div style="margin:0 auto;">
            <div style="position: relative;left: 0px;top: 5px;width: 100%;text-align: center;height: 100%">
                <div class="layui-logo">我的图书馆</div>
                <!-- 头部区域（可配合layui已有的水平导航） -->
                <ul class="layui-nav layui-layout-left">
                    <li class="layui-nav-item"><a href="">首页</a></li>
                    <li class="layui-nav-item"><a href="">畅销小说</a></li>
                    <li class="layui-nav-item"><a href="">网络小说</a></li>
                    <li class="layui-nav-item"><a href="">合集资源</a></li>
                    <li class="layui-nav-item"><a href="">多看专区</a></li>
                    <li class="layui-nav-item"><a href="">杂志期刊</a></li>
                    <li class="layui-nav-item"><a href="">工具书</a></li>
                    <li class="layui-nav-item"><a href="">原版书籍</a></li>
                    <li class="layui-nav-item">
                        <a href="javascript:;">其它书籍</a>
                        <dl class="layui-nav-child">
                            <dd><a href="">历史架空</a></dd>
                            <dd><a href="">都市言情</a></dd>
                            <dd><a href="">官场商战</a></dd>
                        </dl>
                    </li>
                </ul>
                <ul class="layui-nav layui-layout-right">
                    <li class="layui-nav-item">
                        <a href="javascript:;">
                            <img src="http://t.cn/RCzsdCq" class="layui-nav-img"/>
                            RAINTIME
                        </a>
                        <dl class="layui-nav-child">
                            <dd><a href="">基本资料</a></dd>
                            <dd><a href="">安全设置</a></dd>
                        </dl>
                    </li>
                    <li class="layui-nav-item"><a href="">退出</a></li>
                </ul>
            </div>
        </div>
    </div>

    <div class="layui-row homePagebody">
        <!-- 内容主体区域 -->

        <div class="layui-col-md8 mainbody_left " id="layout-left">
            <!--书籍列表-->
        </div>
        <div class="layui-col-md4 mainbody_right" id="layout-right">
            <!--<div style="padding: 15px;">右侧边</div>-->
            <div class="mainbody_right" id="layout-right-dtl">
                <div class="box_shadow item_mg0_5">
                        本站提供各类电子书籍下载，
                        经过站长审核的书也会放上来
                </div>
                <div class="box_shadow item_mg0_5">
                    test右侧边2
                </div>
            </div>
        </div>

    </div>

    <div class="layui-footer" style="left: 0px;text-align:center; padding:5px 5px;padding-top:10px;position: center">
        <!-- 底部固定区域 -->
        © mbook.com - 我的图书馆
    </div>
</div>
<script src="../layui.js"></script>
<script>
    //JavaScript代码区域
    layui.use(['jquery'], function () {
        var $ = layui.$;
        $('#layout-left').load("/mainpagelist",function (){

        });
    });
</script>
</body>
</html>
