

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1"/>
    <title>layout 后台大布局 - Layui</title>
    <link rel="stylesheet" href="../css/layui.css"/>
    <link rel="stylesheet" href="../css/style.css"/>
</head>
<body>
<div class="layui-row homePagebody">

        <!-- 内容主体区域 -->
        <div class="layui-col-md8 mainbody_left">
            <!--书籍列表-->
            <div id="booklist"></div>
            <div class="pagefooter" id="page"></div>
        </div>
        <div class="layui-col-md4">
            <!--<div style="padding: 15px;">右侧边</div>-->
            <div class="mainbody_right">
                <div class="box_shadow item_mg0_5">
                    test右侧边1
                </div>
                <div class="box_shadow item_mg0_5">
                    test右侧边2
                </div>
            </div>
        </div>

</div>
<script src="../layui.js"></script>
<script>
    //JavaScript代码区域
    layui.use(['laypage', 'layer'], function() {
        var laypage = layui.laypage
            ,$ = layui.$
            , layer = layui.layer;
        laypage.render({
            elem: 'page'
            ,count: 100
            ,limit:15
            ,layout: ['count', 'prev', 'page', 'next', 'skip']
            ,jump: function(obj,first){
                console.log(obj)
                console.log(obj.curr); //得到当前页，以便向服务端请求对应页的数据。
                console.log(obj.limit); //得到每页显示的条数

                //首次不执行
                if(!first){
                    //do something
                }
            }
        });
        $('#booklist').load("/bookpage",function (){

        });
    });
</script>
</body>
</html>
