<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.xc.mybook.security.dao.UserDao">
	
	<resultMap type="com.xc.mybook.security.entity.TwUser" id="user">
	  <id property="userId" column="USER_ID" />
	  <result property="username" column="USER_NAME"/>
	  <result property="password" column="PASS_WORD"/>
	  <result property="sex" column="SEX"/>
	  <result property="departmentId" column="DEPARTMENT_ID"/>
	  <result property="status" column="STATUS"/>
	  <result property="createdUser" column="CREATED_USER"/>
	  <result property="createdDate" column="CREATED_DATE" javaType="java.util.Date"/>
	  <result property="lastUpdateBy" column="LAST_UPDATE_BY" />
	  <result property="lastUpdateDate" column="LAST_UPDATE_DATE" javaType="java.util.Date"/>
	</resultMap>
	
	<select id="findByEmployeeId" parameterType="string" resultMap="user">
	SELECT * FROM USER_INFO t WHERE t.user_id = #{id}
	</select>

</mapper>
